<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>short.ly</title>
</head>
<body>
    <h1>Short.ly - Your URL shortner.</h1>
    <h2>Hello its a <b>server side rendered</b> page.</h2>

    <% if (locals.id) { %>
        <p>URL Generated with id : <a href="http://localhost:8001/api/<%= locals.id %>"><%= locals.id %></a>
        </p>
        <% } %>
        
        <% if (locals.existingId) { %>
            <p> <%= locals.message %>: <a href="http://localhost:8001/api/<%= locals.existingId %>"><%= locals.existingId %></a>
            </p>
            <% } %>
            
            <div>
                <form method="POST" action="/api/url">
                <label >Enter your orignial URL: </label>
                <input type="text" name="url" placeholder = 'eg. www.example.com'>
                <button type="submit">Generate</button>
                </form>
            </div>
            <% if (locals.urls) { %>
                <table>
                    <thead>
                        <th>S.No</th>
                        <th>ShortId</th>
                        <th>Redirection</th>
                        <th>Times clicked</th>
                    </thead>
                    
                    <tbody>
          <% urls.forEach((url,index) => { %>
            <tr>
            <td><%= index+1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectUrl %></td>
            <td><%= url.visitHistory.length %></td>
            </tr>
          <% }) %>  
        </tbody>
     </table>
    <% } %>
   
</body>
</html>